$pageWidth: 320;
$theme: #d33a31;
$fontColor: #333;

@function px($size) {
  $remSize: $size / $pageWidth * 10;
  @return #{$remSize}rem;
}
// clear style

* {
    box-sizing: border-box;
}
p, span, a {
    font-size: px(16);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2,h3,h4,h5,h6 {margin: 0;padding: 0;}
a {text-decoration: none;}
ul > li {list-style: none;}


body {
    margin: 0;padding: 0;
    background-color: #fff;
    // height: 100vh;
    overflow: hidden;
}

.top {
    width: px(600);
    height: px(305);
    background: #979797;
    margin: px(20) auto 0;
    border-radius: px(21);
    background: rgb(146,147,147);
    background: linear-gradient(180deg, rgba(146,147,147,1) 0%, rgba(255,255,255,1) 50%, rgba(146,147,147,1) 100%);

    p {
        color: #000000;
        text-align: center;
        font-weight: bold;
        margin: 14px 0;

        &.large-title {
            font-size: px(70);
            text-transform: uppercase;
        }
        &.small-title {
            font-size: px(67);
        }
    }

}

.middle-wrap {
    display: flex;
    margin: px(15) px(20) px(210) px(12);
    justify-content: center;

    .trip-info {
        width: px(310);
        height: px(300);
        border-radius: px(10);
        border: 1px solid #222;
        margin-right: px(20);
        padding: px(30) 0 0 px(9);

        p {
            text-align: left;
            color: #000000;
            font-weight: bold;
            // margin: px(18) 0;
            font-weight: bold;

            &.trip-num {
                font-size: px(37);
                margin-bottom: px(26);
                
            }
            &.trip-person {
                font-size: px(42);
            }
        }

    }
    .trip-code {
        max-width: px(310);
        max-height: px(310);

        img {
            width: 100%;
        }
    }
}

.time-wrap {
    text-align: center;
    p {
        font-weight: bold;
        font-size: px(45);
        &.time {
            margin-bottom: px(15);
        }
    }
    
}

#colorBar {
    margin-top: px(20);
    width: 100%;
    display: flex;
    justify-content: center;
    animation: blink 1s infinite steps(1, start);
    .color {
        width: px(207);
        height: px(50);
    }
}

@keyframes blink {
     0%{opacity: 1;}
     100%{opacity: 1;}
    50%{opacity: 0;}
}

footer {
    margin-top: px(26);
    width: 100%;
    display: flex;
    align-items: flex-end;

    .back {
        margin: 0 px(56);
        font-size: px(32);
        vertical-align: middle;
        color: #007BF9;
    }

    .count-down {
        font-size: px(38);
        color: #000000;
        font-weight: bold;
    }
}

.footer-after {
    width: 100%;
    height: px(30);
}

// input color
.color-input {
    position: absolute;
    bottom: 0;
    visibility: hidden;
    // transition: transform .4s ease;
    transform: translateY(100%);
    background: #f4f4f4;
    height: px(400);
    width: 100%;
    
    &.active {
        animation: slideUp .8s ease-in-out forwards;
        // transform: translateY(0);
        // display: block;
    }
}

#colorInput {
    form {
        display: flex;
        height: 100%;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            margin: 10px 0;
        }
        

        .close {
            color: #0066A1;
            position: absolute;
            right: px(20);
            top: px(20);
        }
    }
}

@keyframes slideUp {
    from{transform: translateY(100%); visibility: hidden;}
    to{transform: translateY(0); visibility: visible;}
}